{% extends 'base.html' %}

{% block content %}

{% if request.path == "/tour/1" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.1.title }} {{ star_data.1 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.1.country }} {{ cases.nsk }} {{ tours.1.nights }} ночей</p>
        <img src="{{ tours.1.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.1.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.1.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/2" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.2.title }} {{ star_data.2 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.2.country }} {{ cases.ekb }} {{ tours.2.nights }} ночей</p>
        <img src="{{ tours.2.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.2.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.2.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/3" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.3.title }} {{ star_data.3 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.3.country }} {{ cases.nsk }} {{ tours.3.nights }} ночей</p>
        <img src="{{ tours.3.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.3.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.3.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/4" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.4.title }} {{ star_data.4 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.4.country }} {{ cases.msk }} {{ tours.4.nights }} ночей</p>
        <img src="{{ tours.4.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.4.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.4.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/5" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.5.title }} {{ star_data.5 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.5.country }} {{ cases.msk }} {{ tours.5.nights }} ночей</p>
        <img src="{{ tours.5.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.5.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.5.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/6" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.6.title }} {{ star_data.6 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.6.country }} {{ cases.spb }} {{ tours.6.nights }} ночей</p>
        <img src="{{ tours.6.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.6.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.6.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/7" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.7.title }} {{ star_data.7 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.7.country }} {{ cases.ekb }} {{ tours.7.nights }} ночей</p>
        <img src="{{ tours.7.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.7.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.7.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/8" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.8.title }} {{ star_data.8 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.8.country }} {{ cases.kazan }} {{ tours.8.nights }} ночей</p>
        <img src="{{ tours.8.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.8.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.8.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/9" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.9.title }} {{ star_data.9 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.9.country }} {{ cases.nsk }} {{ tours.9.nights }} ночей</p>
        <img src="{{ tours.9.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.9.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.9.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/10" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.10.title }} {{ star_data.10 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.10.country }} {{ cases.msk }} {{ tours.10.nights }} ночей</p>
        <img src="{{ tours.10.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.10.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.10.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/11" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.11.title }} {{ star_data.11 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.11.country }} {{ cases.spb }} {{ tours.11.nights }} ночей</p>
        <img src="{{ tours.11.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.11.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.11.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/12" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.12.title }} {{ star_data.12 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.12.country }} {{ cases.kazan }} {{ tours.12.nights }} ночей</p>
        <img src="{{ tours.12.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.12.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.12.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/13" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.13.title }} {{ star_data.13 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.13.country }} {{ cases.ekb }} {{ tours.13.nights }} ночей</p>
        <img src="{{ tours.13.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.13.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.13.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/14" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.14.title }} {{ star_data.14 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.14.country }} {{ cases.kazan }} {{ tours.14.nights }} ночей</p>
        <img src="{{ tours.14.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.14.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.14.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/15" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.15.title }} {{ star_data.15 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.15.country }} {{ cases.spb }} {{ tours.15.nights }} ночей</p>
        <img src="{{ tours.15.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.15.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.15.price }} рублей</a>
    </section>
</main>

{% elif request.path == "/tour/16" %}

<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.16.title }} {{ star_data.16 }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.16.country }} {{ cases.spb }} {{ tours.16.nights }} ночей</p>
        <img src="{{ tours.16.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.16.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.16.price }} рублей</a>
    </section>
</main>

{% endif %}
{% endblock %}